.FavoriteMovies {
    width: 100%;
    /* background-color: white; */
    background-color: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px white;
    margin: auto;
    padding: 10px 0;
}
